<header>
  <a routerLink="">
    <div>
      <div class="brand">
        <div class="brandCircle">
          <img
            src="../../../assets/SVG/kitchen.svg"
            height="50"
            width="50"
            class="brandLogo"
          />
        </div>
      </div>
      <div class="brandName">
        <div>
          RECIPE BOX
        </div>
      </div>
    </div>
  </a>
  <div>
    <div class="btnLinks">
      <a routerLink="addrecipe">
        <div class="addRecipesBtn">
          <img src="../../../assets/SVG/AddRecipeBtn.svg" alt="" />
          <div>
            ADD RECIPE
          </div>
        </div>
      </a>
      <a routerLink="view">
        <div class="customButtons">
          VIEW ALL RECIPE
        </div>
      </a>
      <a routerLink="contact">
        <div class="customButtons">
          CONTACT US
        </div>
      </a>
    </div>
  </div>
</header>
