<div class="footer">
  <div class="container">
    <div class="brandLogo">
      <div class="brandIcon">
        <img src="../../../assets/SVG/kitchen1.svg" height="50" width="50" alt="">
      </div>
      <div class="brandName">
          RECIPE BOX
      </div>
    </div>
    <div class="menu">
      <div class="menutitle">
        SUPPORT
      </div>
      <div class="menusubtitle">
        CONTACT US
      </div>
      <div class="menusubtitle">
        FAQ
      </div>
    </div>
    <div class="menu">
      <div class="menutitle">
        RECIPE BOX
      </div>
      <div class="menusubtitle">
        ABOUT US
      </div>
      <div class="menusubtitle">
        SEVICES
      </div>
      <div class="menusubtitle">
        MEMBERS
      </div>
    </div>
  </div>
</div>
