<div class="container">
  <div class="topRecipesHeader">
    <div class="topRecipeTitle">
      ADD RECIPES
    </div>
    <div class="topRecipeTitle2">
      Recipes shared is happiness multiplied.
    </div>
  </div>

  <div class="addRecipeContainer">
    <div class="addform">
      <form action="">
        <label for="recipename">Recipe Name : </label>
        <div>
          <input type="text" name="recipename" id=""  placeholder="Enter recipe name here" />
        </div>

        <label for="recipeingredients">Recipe Ingredients : </label>
        <div>
          <input type="text" name="recipeingredients" id=""  placeholder="Enter recipe name here" />
        </div>

        <label for="recipename">Recipe Image Link (URL) : </label>
        <div>
          <input
            type="text"
            name="recipename"
            id=""
            placeholder="Enter image URL here"
          />
        </div>

        <label for="recipename">Recipe Description : </label>
        <div>
          <textarea  placeholder="Enter recipe description/ingredients"></textarea>
        </div>

        <button type="submit">SUBMIT</button>
      </form>
    </div>
    <div class="foodpic">
      <img src="../../../../../assets/SVG/cooking-show.svg" alt="" />
    </div>
  </div>
</div>
