<div class="container">
  <div class="topRecipesHeader">
    <div class="topRecipeTitle">RECIPE</div>
    <div class="topRecipeTitle2">RECIPE FOR HAPPINESS : Product Id: {{ product_id }}</div>
  </div>

  <div class="recipeContainer">
    <div class="recipeTitle">
      Cinnamon Roll Poke Cake
    </div>
    <div class="recipeLogo">
      <img
        src="https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        alt=""
      />
    </div>
    <div class="recipeins">
      <div class="ingredients">
        <span class="small-title">INGREDIENTS : </span> <br />
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam
        nostrum repellat vel ipsa officia. Ad, ratione, aliquid voluptate error
        asperiores placeat obcaecati nulla labore deserunt sint ab quibusdam
        necessitatibus voluptatibus?
      </div>
      <div class="instructions">
        <span class="small-title">INSTRUCTIONS :</span> <br />
        In a bowl beat the lime juice into the softly boiled egg yolk. Add the
        crushed garlic. Add the finely-chopped anchovies. Add black pepper.
        Gradually whisk in the oil. Add the Parmigiano. Taste. If you need salt,
        add it now. To the bowl, add the Romaine and toss well with your hands.
        Lick your fingers. In the same pan in which the pancetta crisped, toast
        the torn-up pieces of sourdough over medium heat. When crispy, rub each
        piece lightly with the whole garlic clove. Toss over salad. Add pieces
        of crispy pancetta. Enjoy with some cold, fruity white wine. In a bowl beat the lime juice into the softly boiled egg yolk. Add the
        crushed garlic. Add the finely-chopped anchovies. Add black pepper.
        Gradually whisk in the oil. Add the Parmigiano. Taste. If you need salt,
        add it now. To the bowl, add the Romaine and toss well with your hands.
        Lick your fingers. In the same pan in which the pancetta crisped, toast
        the torn-up pieces of sourdough over medium heat. When crispy, rub each
        piece lightly with the whole garlic clove. Toss over salad. Add pieces
        of crispy pancetta. Enjoy with some cold, fruity white wine.In a bowl beat the lime juice into the softly boiled egg yolk. Add the
        crushed garlic. Add the finely-chopped anchovies. Add black pepper.
        Gradually whisk in the oil. Add the Parmigiano. Taste. If you need salt,
        add it now. To the bowl, add the Romaine and toss well with your hands.
        Lick your fingers. In the same pan in which the pancetta crisped, toast
        the torn-up pieces of sourdough over medium heat. When crispy, rub each
        piece lightly with the whole garlic clove. Toss over salad. Add pieces
        of crispy pancetta. Enjoy with some cold, fruity white wine.
      </div>
    </div>
  </div>
</div>
