<div class="container">
  <div class="topRecipesHeader">
    <div class="topRecipeTitle">
      CONTACT RECIPE BOX
    </div>
    <div class="topRecipeTitle2">
      We’re here to help and answer any question you might have. We look forward to hearing from you.
    </div>
  </div>

  <div class="addRecipeContainer">
    <div class="foodpic">
      <img
        src="https://images.pexels.com/photos/1416530/pexels-photo-1416530.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        alt=""
      />
    </div>
    <div class="addform">
      <form action="">
        <label for="recipename">Name : </label>
        <div>
          <input type="text" name="recipename" id="" placeholder="Enter full name here" />
        </div>

        <label for="recipename">Email-ID : </label>
        <div>
          <input type="text" name="recipename" id="" placeholder="Enter email-id here" />
        </div>

        <label for="recipename">Write us your query here : </label>
        <div>
          <textarea placeholder="Enter your query here" ></textarea>
        </div>

        <button type="submit">SUBMIT</button>
      </form>
    </div>
    
  </div>
</div>
